<!DOCTYPE html>
<!-- saved from url=(0054)http://getbootstrap.com/examples/sticky-footer-navbar/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">

    <title>$station.location About This Site</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="">

    <!-- Wrap all page content here -->
    <div id="wrap">

<div class="container">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<ul class="nav nav-tabs">
					<li> <a href="bootstrap-day.html">Day</a> </li>
					<li> <a href="bootstrap-week.html">Week</a> </li>
					<li> <a href="bootstrap-month.html">Month</a> </li>
					<li> <a href="bootstrap-year.html">Year</a> </li>
					<li> <a href="bootstrap-alltime.html">Alltime</a> </li>
					<li class="active"> <a href="#">About</a> </li>
<!--
					<li> <a href="bootstrap-forecast.html">Forecast</a> </li>
-->
					<li class="pull-right" vertical-align="bottom" > Federal Way WA </li>
				</ul>
			</div>
		</div>
	</div>
	
      <!-- Begin page content -->

     <!-- body under the header, above the footer -->

      <div class="container">
        <div class="page-header">
          <h2>About This Site</h2>
        </div>
      </div> 

	<div class="row clearfix">

		<div class="col-md-9 column">

	<h3>About This Station</h3> 

	<p>The station is powered by a <a href="http://www.davisnet.com/weather/products/vantage-pro-professional-weather-stations.asp">Davis Vantage Pro 2</a> wireless weather station.  The data is collected every 5 seconds and the site is updated every 5 minutes. This site and its data is collected using the <a href="http://www.weewx.com/">Weewx</a> Software, hosted on a Seagate Dockstar running <a href="http://www.debian.org">Debian Linux</a>. The station is comprised of an anemometer, a rain gauge and thermo/hydro sensors situated in optimal positions for highest accuracy possible. </p>

<p>The Vantage Pro 2 has been online since early March 2009 and has had required two repairs just 'slightly' over a year later. One to replace the supercap (probably not needed) and another to replace the external ISS sensor main board.  Davis was nice enough to send me a new board for free, even though the station was technically a month out of maintenance.  Fabulous customer service !!!!</p>

<p>From late 2003 until early 2009, the station was a LaCrosse 2315 which was ok as a starter system, but it had a number of flaws related to poor accuracy in sunlight as well as issues with spurious bad wind readings and wireless sensor to console signal drops.</p>

<p>Previously, we ran several other weather station programs under Linux, first open2300 and then several years running  Wview.  We switched to weewx in January 2011 and haven't looked back :-) </p>

<p> We feed the following weather sites on the Internet:
<ul>
<li>Weather Underground</li> - <a href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KWAFEDER15">KWAFEDER15</a></li>
<li>CWOP</li> - <a href="http://www.findu.com/cgi-bin/wxpage.cgi?call=CW6881">CW6881</a></li>
<li>PWS</li> - <a href="http://www.pwsweather.com/obs/KWFEDER15.html">KWFEDER15</a></li>
</ul>
</p>
	<h3>About This City</h3> 
<p>
<dl>
<dd>
Federal Way began in the late 1800s as a logging settlement. By the 1920s, Federal Highway 99 was complete, linking the community to the economic centers of Seattle and Tacoma, and suggesting a name for the young community. The name Federal Way was first used in 1929 when five existing schools consolidated operations into School District #210 and planned construction of Federal Way High School next to Highway 99. 
</dd>
<p>
<dd>
By the end of the 1950s, the community featured a number of housing areas and a 10-block commercial district with a shopping center and family-oriented theme park. During the 1960s, residential development continued, providing homes to Boeing engineers and Weyerhaeuser executives. Retail growth followed, including the construction of SeaTac Mall (now The Commons at Federal Way) in the mid-1970s. 
</dd>
</dl>
<p>
<em>Rapid Growth</em>
<dl>
<dd>
Rapid retail and residential growth created significant changes in the community during the 1970s and 1980s. Desiring controlled, quality growth and community identity, Federal Way citizens organized to form what was then Washington's sixth largest city, incorporating in February of 1990. In November 2010 Federal Way citizens decided to change from a council-manager form of government to a mayor-council form. 
</dd>
<p>
<dd>
Today, the Federal Way community is residential and commercial with a population employed locally and in neighboring cities such as Sea Tac, Kent, Tacoma, Bellevue and Seattle. An estimated 22,485 people are employed within the city limits. 
</dd>
</dl>
<p>
<em>Since Incorporation</em>
<dl>
<dd>
In the years since incorporation, Federal Way has fostered quality commercial and residential growth, and enhanced the quality of life for its residents with infrastructure improvements, diverse recreational opportunities and high-quality parks. The city's Comprehensive Plan looks to Federal Way's future and includes plans for a vibrant City Center, with mixed-use commercial and residential development in the downtown business area and access to public transportation. 
</dd>
</dl>
<p>
(above synopsis copied from the <a href="http:////www.cityoffederalway.com">City of Federal Way</a> official web site on May 30, 2013.)
<p>
	<h3>About This Site</h3> 

	<p>This site was developed under <a href="http://getbootstrap.com">Bootstrap</a> v3 with help from the fabulous drag'n'drop builder at <a href="http://www.layoutit.com/build">LayoutIt!</a> Interface Builder for Bootstrap and a number of example sites including <a href="http://stackoverflow.com/questions/tagged/bootstrap">Stack Overflow</a> and the online JavaScript editor at <a href="http://jsfiddle.net">JSFiddle</a>.
    </p>

</div>
</div>

	</div> <!-- end of row -->

</div>

 </div> <!-- panel -->

 </div> <!-- end of page content -->

</div>
</div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">$current.dateTime - <a href="http://www.weewx.com">'weewx'</a> v$station.version on a <a href="http://davisnet.com/weather/products/professional-home-weather-stations.asp"> Davis $station.hardware</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Sticky Footer Navbar Template for Bootstrap_files/jquery-1.10.2.min.js"></script>
    <script src="./Sticky Footer Navbar Template for Bootstrap_files/bootstrap.min.js"></script>
  

</body></html>
